<div>
  <div>
    <h1>
      List of all users
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new user
    </h2>

    <form action="/insert_user" method="post">
      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email">
      </div>

      <div>
        <label for="password_box">
          Password
        </label>

        <input type="text" id="password_box" name="query_password">
      </div>

      <div>
        <label for="username_box">
          Username
        </label>

        <input type="text" id="username_box" name="query_username">
      </div>

      <button>
        Create user
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Email
        </th>

        <th>
          Password
        </th>

        <th>
          Username
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.id %>
        </td>

        <td>
          <%= a_user.email %>
        </td>

        <td>
          <%= a_user.password %>
        </td>

        <td>
          <%= a_user.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_user.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_user.updated_at) %> ago
        </td>

        <td>
          <a href="/users/<%= a_user.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
