<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="appplication.css"
   >
 
   <title> Welcome :D</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
     <style>
            a {
      color: inherit;
      text-decoration: none;
    }
</style>  
</head>

   <body>


<div>
  <div>
    <h1 class="name">
      <%= @the_post.activity.name %> Class Details
    </h1>

    <div class="items">
      <div>

        <button type="button" class="btn btn-outline-secondary">
        <a href="/posts">
          Go back
        </a>
        </button>
      </div>

      <div>
        <%#a href="/delete_post/<%= @the_post.id %>
         <%# Delete post%>
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Activity:
      </dt>
      <dd>
        <%= @the_post.activity.name %>
      </dd>

      <dt>
        Description:
      </dt>
      <dd>
        <%= @the_post.description %>
      </dd>

      <dt>
        Location:
      </dt>
      <dd>
        <%= @the_post.location.address %>
      </dd>
     <img class="banner-image" width=600px, lenght=500px src="<%= @the_post.location.image %>"
      </dd>
     
      <dt style="text-align: center">
       Website:
      </dt>
       <a class="website" target="a_blank" href="<%= @the_post.location.website %>" ><%= @the_post.location.website%> </a>
      </dd>

        <dt>
    <div class="star-rating">
  <input type="radio" id="star5" name="rating" value="5">
  <label for="star5"></label>
  <input type="radio" id="star4" name="rating" value="4">
  <label for="star4"></label>
  <input type="radio" id="star3" name="rating" value="3">
  <label for="star3"></label>
  <input type="radio" id="star2" name="rating" value="2">
  <label for="star2"></label>
  <input type="radio" id="star1" name="rating" value="1">
  <label for="star1"></label>
</div>
        <label  for="location_id_box">

        <input class="commentbox" type="text" id="location_id_box" name="query_location_id">
      </dt>
      <dd>
        <button type="button" class="btn btn-outline-secondary">
           Add Review
          </a>
          </button>
        </td>
      <%#dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %>
      </dd>
    </dl>
  </div>
</div>



<%#
<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %> <%#"  method="post" >
      <div>
        <label for="activity_id_box">
          Activity
        </label>

        <input type="text" id="activity_id_box" name="query_activity_id" value="<%= @the_post.activity_id %> <%#
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_post.description %> 
    

  </div>
</div>
</body>
</html>
