<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="appplication.css"
   >
 
   <title> Welcome :D</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>

   <body>


<div>
  <div>
    <h1 class="name">
      <%= @the_post.activity.name %> class details
    </h1>

    <div class="items">
      <div>
        <a href="/posts">
          Go back
        </a>
      </div>

      <div>
        <%#a href="/delete_post/<%= @the_post.id %>
         <%# Delete post%>
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Activity:
      </dt>
      <dd>
        <%= @the_post.activity.name %>
      </dd>

      <dt>
        Description:
      </dt>
      <dd>
        <%= @the_post.description %>
      </dd>

      <dt>
        Location:
      </dt>
      <dd>
        <%= @the_post.location.address %>
      </dd>
     <img width=600px, lenght=500px src="<%= @the_post.location.image %>"
      </dd>
      <dt>
       Webpage:
      </dt>
       <a target="a_blank" href="<%= @the_post.location.website %>" ><%= @the_post.location.website%> </a>
      </dd>

        <dt>
    
      </dt>
      <dd>
      
      <%#dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %>
      </dd>
    </dl>
  </div>
</div>



<%#
<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %> <%#"  method="post" >
      <div>
        <label for="activity_id_box">
          Activity
        </label>

        <input type="text" id="activity_id_box" name="query_activity_id" value="<%= @the_post.activity_id %> <%#
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_post.description %> <%#
      </div>

      <div>
        <label for="location_id_box">
          Location
        </label>

        <input type="text" id="location_id_box" name="query_location_id" value="<%= @the_post.location_id %>
      

  </div>
</div>
</body>
</html>
