<%#div>
  <div>
    <h1>
      Activity #<%= @the_activity.id %> <%#details
    </h1>

    <div>
      <div>
        <a href="/activities">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_activity/<%= @the_activity.id %>">
          <%#Delete activity
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_activity.name %>
      <%#/dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_activity.created_at) %> ago
      <%#/dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_activity.updated_at) %> ago
      <%#/dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit activity
    </h2>

    <form action="/modify_activity/<%= @the_activity.id %>"  method="post" >
      <%#div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" \">
      <%#/div>

      <button>
        Update activity
      </button>
    </form>
  </div>
</div>

<hr>
